#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: flex-start;
	min-height: 100vh;
	overflow: hidden;
}

@media (max-width: 420px) {
	#root {
		padding: 0.7rem;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	align-self: flex-start;
	z-index: 1;
	margin: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	padding: 10px 16px;
	min-width: 200px;
	height: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown label {
	display: block;
	margin: 5px;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	position: relative;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.joke-flexbox {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-around;
	padding: 16px;
	box-sizing: border-box;
}

.joke-flexbox-item {
	flex: 1 1 300px;
	max-width: 350px;
	box-sizing: border-box;
	margin: 16px;
}

@media (max-width: 420px) {
	.joke-flexbox-item {
		margin-left: 0;
	}
}

@media (max-width: 1024px) {
	.joke-grid-item {
		flex: 1 1 calc(50% - 32px);
	}
}

@media (max-width: 768px) {
	.joke-grid-item {
		flex: 1 1 calc(100% - 32px);
	}
}

.plant {
	width: 170px;
	height: 170px;
	display: block;
}

.plant-left {
	transform: scaleX(-1);
}

.title {
	margin-top: 0;
	text-align: center;
}
@media (max-width: 400px) {
	.plant {
		display: none;
	}
}

@media (max-width: 420px) {
	.title {
		font-size: xx-large;
	}
}
