body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: linear-gradient(135deg, #c9e2dd 0%, #8a95ba 100%);
	color: #333;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: flex-start;
	min-height: 100vh;
}

h1 {
	font-size: 3.5rem;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

.dropdown {
	position: relative;
	display: inline-block;
	align-self: flex-start;
	z-index: 1;
	margin: 10px;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	padding: 10px 16px;
	min-width: 200px;
	height: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
  
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown label {
	display: block;
	margin: 5px;
}


