#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: flex-start;
	min-height: 100vh;
	overflow: auto;
}

.dropdown {
	position: relative;
	display: inline-block;
	align-self: flex-start;
	z-index: 1;
	margin: 10px;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	padding: 10px 16px;
	min-width: 200px;
	height: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
  
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown label {
	display: block;
	margin: 5px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
}

.button-container {
	display: flex;
	justify-content: center; 
	align-items: center;
  }

.joke-flexbox {
	display: flex;
	flex-wrap: wrap; /* Allows items to wrap to new lines */
	gap: 16px; /* Spacing between the cards */
	justify-content: space-around; /* Distributes the cards evenly horizontally */
	padding: 16px;
	box-sizing: border-box;
}

.joke-flexbox-item {
	flex: 1 1 300px; /* Flexible item that adapts to the container's width */
	max-width: 350px; /* Maximum width for the cards */
	box-sizing: border-box; /* Ensures padding and margin are included in width calculation */
	margin: 16px; /* Space around each card */
}

@media (max-width: 420px){
	.joke-flexbox-item {
		margin-left: 0;
	}
}

/* Media queries for different screen sizes */
@media (max-width: 1024px) {
	.joke-grid-item {
		flex: 1 1 calc(50% - 32px); /* Two columns on medium-sized screens */
	}
}

@media (max-width: 768px) {
	.joke-grid-item {
		flex: 1 1 calc(100% - 32px); /* One column on small screens */
	}
}

.plant {
    width: 170px; 
    height: 170px; 
	display: block; 
}

.plant-left {
	transform: scaleX(-1);
}
  
  @media (max-width: 920px) {
	.plant {
	  display: none; 
	}
  }

