.slideshow-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.jokeIDButton-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
	grid-gap: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 80vw;
}

.jokeIDButton {
	background-color: #8a95ba;
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	width: 45px;
	height: 45px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.jokeIDButton:hover {
	background-color: #c9e2dd;
	color: #333;
}

@media (max-width: 600px) {
	.jokeIDButton {
		flex: 1 1 9%;
	}
}

.skipToJoke {
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 75%;
  max-width: 500px;
  margin: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  user-select: none;
  z-index: 1;
}

.arrow:hover {
  color: #c9e2dd;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media (max-width: 600px) {
  .arrow {
    font-size: 2.5rem;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }

  .card-wrapper {
    padding: 0 30px;
  }

  .slideshow-container {
    padding: 5px;
  }
}